.model__content {
    padding-top: 70px;

    .model__title {
        font-size: 2.5rem;
        line-height: 55px;

        span {
            color: var(--primary-color);
        }
    }
}

.model__content p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
}
.model__btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}
.model__btns a button {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.order__btn {
    // d-flex align-items-center justify-content-between
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary-color);
    color: #fff;
    transition: 0.3s;

    &:hover {
        background-color: var(--text-color);
    }
}

.all__outfits-btn {
    background-color: transparent;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color);
}
.all__outfits-btn a,
.all__outfits-btn a:hover {
    color: var(--primary-color);
}
.model__service p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.9rem;
}
.shipping__icon i {
    padding: 5px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
